@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.imagen_fondo {
    display: block;
    background-image: url(../img/body-bg.jpg); 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.container {
    position: relative;
    z-index: 200;
}

#navbar {
    background: #171717;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.07);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#navbar .wrap {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 50px;
    padding: 35px 0px 25px 0px;
}

#navbar .wrap .contenedor_logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#navbar .wrap .contenedor_logo a img {
    width: 60px;

    position: relative;
    top: -10px;
}

#navbar .wrap .contenedor_logo a p {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    margin-left: 10px;
}

#navbar .wrap .contenedor_logo a p span {
    color: #28D501;
}

.menu{
    margin: 0 95%;
    padding: 0;
    height: 50px;
    width: 80px;
    display: block;
    text-align: center;
    font-size: 40px;  
}
.menu .bi{
    cursor: pointer;
   
}
.menu .bi:hover{
    color: #28D501;
}
.head_login{
  
    width:400px;
    height: 200px;
    margin-left:  auto;
    margin-right:  auto;
}
.head_login img{
    margin-left: 140px;
}
.head_login h1{
   
    margin-left: 95px;
    margin-top: 15px;
}

.body_login{
    height: 650px;
}
.formulario_login{
    width:570px;
    height: 350px;
    margin-left:  auto;
    margin-right:  auto;
    /* margin: 0 460px; */
    padding: 15px;
    background-color: #171717;
    box-shadow: 0 0 6px 0 rgba(0, 255, 25, 1);
    border-radius: 20px;
}
.formulario_login form{
 
    margin-left: 50px;
    margin-top: 50px;
}


/* .formulario_login form .card{
    display: flex;
    flex-direction: column;
    margin-top: 15px;

} */
.formulario_login form .card input{
    width: 400px;
    height: 30px;
    margin-top: 15px;
    border-radius: 8px;
    background-color:#e4e3e3;
    color: #000;
    padding-left: 10px;
    
}
.formulario_login form .bi{
    color: #28D501;

}

.formulario_login form .submit{
    background-color: #28D501;
    width: 150px;
    height: 35px;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 150px;
    cursor: pointer;
    border-color: #50ff29;
}
.formulario_login form .submit:hover{
 background-color: #70fc50;
 color: #b1b1b1;
}

.input_name{
    margin-top: 10px;
  
}
.input_name input{
    width: 400px;
    height: 30px;
    border-radius: 8px;
    background-color:#e4e3e3;
    color: #000;
    padding-left: 10px;
    margin-bottom: 10px;
}





















