@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*:focus{
    outline: none;
}

body{
    position: relative;
}

.wrap{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    
    overflow: hidden;
}

.imagen_fondo{
    display: block;
    background-image: url(../img/body-bg.jpg);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.container{
    position: relative;
    z-index: 200;
}

#navbar{
    background: #171717;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.07);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#navbar .wrap{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 50px;
    padding: 35px 0px 25px 0px;
}

#navbar .wrap .contenedor_logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

#navbar .wrap .contenedor_logo a img{
    width: 60px;

    position: relative;
    top: -10px;
}

#navbar .wrap .contenedor_logo a p{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    margin-left: 10px;
}

#navbar .wrap .contenedor_logo a p span{
    color: #28D501;
}

.contenedor_search form .campo_search{
    width: 100%;
    display: flex;
    align-items: center;
}

.contenedor_search form{
    background-color: #1A1A1A;
    border-radius: 50px;

    display: grid;
    grid-template-columns: 1fr;

    border: 1px solid rgba(255, 255, 255, 0.1);
}

.contenedor_search form .campo_search{
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto;
}

.contenedor_search form .campo_search input{
    box-sizing: border-box;
    border: transparent;
    font-size: 17px;
    background-color: #1A1A1A;
    color: white;
    margin-left: 20px;
}

.contenedor_search form .campo_search button{
    width: 70px;
    border: transparent;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 12px 0px;

    cursor: pointer;
}

.contenedor_search form .campo_search button:hover img{
    opacity: 1;
}

.contenedor_search form .campo_search img{
    width: 22px;
    opacity: 0.5;
}

.contenedor_menu ul{
    display: flex;
    list-style: none;
}

.contenedor_menu ul li{
    margin-left: 12px;
}

.contenedor_menu ul li:first-of-type{
    margin-left: 0px;
}

.contenedor_menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
}

.contenedor_menu ul li a:hover{
    color: #84E401;
}

.contenedor_menu ul li a .icono_carrito{
    fill: #ffffff;
}

.contenedor_menu ul li a .icono_carrito:hover{
    fill: #28D501;
}


/* --------------------------------------------------- Footer --------------------------------------------------- */
footer{
    padding: 100px 0px;
    background: #171717;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.07);
    text-align: center;
}

footer .wrap .container-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer .col .contenedor_logo_footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

footer .col .contenedor_logo_footer a p{
    margin-left: 10px;
    position: relative;
    top: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

footer .col .contenedor_logo_footer a p span{
    color: #28D501;
}

footer .col .logo_footer{
    width: 50px;
}

footer .col{
    text-align: left;
}

footer .info_extra{
    width: 300px;
    margin-top: 20px;
}

footer .redes_sociales{
    margin-top: 20px;
    display: flex;
}

footer .redes_sociales i{
    display: block;
    margin-right: 20px;
}

footer .col:first-of-type{
    margin-bottom: 50px;
}

footer .container_navegacion ul{
    margin-left: 30px;
    margin-top: 20px;
}

footer .container_navegacion ul li{
    margin-bottom: 10px;
}

footer .container_newsletter  p{
    margin: 15px 0px;
}

footer .container_newsletter form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .container_newsletter form input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #5C5C5C;
    border: transparent;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) inset;
    margin-bottom: 15px;
    color: #fff;
}

footer .container_newsletter form input::placeholder{
    color: #fff;
}

footer .container_newsletter form button{
    padding: 10px;
    border-radius: 0;
    background-color: #28D501;
    color: white;
    cursor: pointer;
}